<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.mapper.XydAnswerRecordMapper">
  <resultMap id="BaseResultMap" type="com.dkd.model.XydAnswerRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="parents_id" jdbcType="INTEGER" property="parentsId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="percent" jdbcType="DECIMAL" property="percent" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="adjective_score" jdbcType="INTEGER" property="adjectiveScore" />
    <result column="noun_score" jdbcType="INTEGER" property="nounScore" />
    <result column="verb_score" jdbcType="INTEGER" property="verbScore" />
    <result column="sentence" jdbcType="VARCHAR" property="sentence" />
    <result column="vocabulary" jdbcType="VARCHAR" property="vocabulary" />
    <result column="learning_time" jdbcType="INTEGER" property="learningTime" />
    <result column="rate_all" jdbcType="DECIMAL" property="rateAll" />
    <result column="anew" jdbcType="VARCHAR" property="anew" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="states" jdbcType="VARCHAR" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.dkd.model.model_extends.XyydAnswerRecordExtends">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="parents_id" jdbcType="INTEGER" property="parentsId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="percent" jdbcType="DECIMAL" property="percent" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="adjective_score" jdbcType="INTEGER" property="adjectiveScore" />
    <result column="noun_score" jdbcType="INTEGER" property="nounScore" />
    <result column="verb_score" jdbcType="INTEGER" property="verbScore" />
    <result column="sentence" jdbcType="VARCHAR" property="sentence" />
    <result column="vocabulary" jdbcType="VARCHAR" property="vocabulary" />
    <result column="learning_time" jdbcType="INTEGER" property="learningTime" />
    <result column="rate_all" jdbcType="DECIMAL" property="rateAll" />
    <result column="anew" jdbcType="VARCHAR" property="anew" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="states" jdbcType="VARCHAR" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="phone_number" jdbcType="CHAR" property="phone" />
    <result column="birthdate" jdbcType="TIMESTAMP" property="birthDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, parents_id, type, score, is_valid,percent, count, adjective_score, noun_score, verb_score,
    sentence, vocabulary, learning_time, rate_all, anew, title, states, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select <include refid="Base_Column_List" /> FROM  xyd_answer_record WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_answer_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dkd.model.XydAnswerRecord">
    insert into xyd_answer_record (id, user_id, parents_id,
      type, score, is_valid, percent,
      count, adjective_score, noun_score, 
      verb_score, sentence, vocabulary, 
      learning_time, rate_all, anew, title, states,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{parentsId,jdbcType=INTEGER},
      #{type,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, #{isValid,jdbcType=CHAR}, #{score,jdbcType=DECIMAL} ,
      #{count,jdbcType=INTEGER}, #{adjectiveScore,jdbcType=INTEGER}, #{nounScore,jdbcType=INTEGER}, 
      #{verbScore,jdbcType=INTEGER}, #{sentence,jdbcType=VARCHAR}, #{vocabulary,jdbcType=VARCHAR}, 
      #{learningTime,jdbcType=INTEGER}, #{rateAll,jdbcType=DECIMAL}, #{anew,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{states,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.dkd.model.XydAnswerRecord">
    insert into xyd_answer_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="parentsId != null">
        parents_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="percent != null">
        percent,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="adjectiveScore != null">
        adjective_score,
      </if>
      <if test="nounScore != null">
        noun_score,
      </if>
      <if test="verbScore != null">
        verb_score,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="vocabulary != null">
        vocabulary,
      </if>
      <if test="learningTime != null">
        learning_time,
      </if>
      <if test="rateAll != null">
        rate_all,
      </if>
      <if test="anew != null">
        anew,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="parentsId != null">
        #{parentsId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="percent != null">
        #{percent,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="adjectiveScore != null">
        #{adjectiveScore,jdbcType=INTEGER},
      </if>
      <if test="nounScore != null">
        #{nounScore,jdbcType=INTEGER},
      </if>
      <if test="verbScore != null">
        #{verbScore,jdbcType=INTEGER},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="vocabulary != null">
        #{vocabulary,jdbcType=VARCHAR},
      </if>
      <if test="learningTime != null">
        #{learningTime,jdbcType=INTEGER},
      </if>
      <if test="rateAll != null">
        #{rateAll,jdbcType=DECIMAL},
      </if>
      <if test="anew != null">
        #{anew,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dkd.model.XydAnswerRecord">
    update xyd_answer_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="parentsId != null">
        parents_id = #{parentsId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="percent != null">
        percent = #{percent,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="adjectiveScore != null">
        adjective_score = #{adjectiveScore,jdbcType=INTEGER},
      </if>
      <if test="nounScore != null">
        noun_score = #{nounScore,jdbcType=INTEGER},
      </if>
      <if test="verbScore != null">
        verb_score = #{verbScore,jdbcType=INTEGER},
      </if>
      <if test="sentence != null">
        sentence = #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="vocabulary != null">
        vocabulary = #{vocabulary,jdbcType=VARCHAR},
      </if>
      <if test="learningTime != null">
        learning_time = #{learningTime,jdbcType=INTEGER},
      </if>
      <if test="rateAll != null">
        rate_all = #{rateAll,jdbcType=DECIMAL},
      </if>
      <if test="anew != null">
        anew = #{anew,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dkd.model.XydAnswerRecord">
    update xyd_answer_record
    set user_id = #{userId,jdbcType=INTEGER},
      parents_id = #{parentsId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      is_valid = #{isValid,jdbcType=CHAR},
       percent = #{percent,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      adjective_score = #{adjectiveScore,jdbcType=INTEGER},
      noun_score = #{nounScore,jdbcType=INTEGER},
      verb_score = #{verbScore,jdbcType=INTEGER},
      sentence = #{sentence,jdbcType=VARCHAR},
      vocabulary = #{vocabulary,jdbcType=VARCHAR},
      learning_time = #{learningTime,jdbcType=INTEGER},
       rate_all = #{rateAll,jdbcType=DECIMAL},
      anew = #{anew,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      states = #{states,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" parameterType="com.dkd.model.XydAnswerRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_answer_record
    where 1 = 1
    <if test="userId != null">
      AND user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="type != null">
      AND type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="score != null">
      AND  score = #{score,jdbcType=DECIMAL}
    </if>
    <if test="isValid != null">
      AND  is_valid = #{isValid,jdbcType=CHAR}
    </if>
    <if test="percent != null">
      AND  percent = #{percent,jdbcType=DECIMAL}
    </if>
    <if test="count != null">
      AND  count = #{count,jdbcType=INTEGER}
    </if>
    <if test="adjectiveScore != null">
      AND  adjective_score = #{adjectiveScore,jdbcType=INTEGER}
    </if>
    <if test="nounScore != null">
      AND  noun_score = #{nounScore,jdbcType=INTEGER}
    </if>
    <if test="verbScore != null">
      AND  verb_score = #{verbScore,jdbcType=INTEGER}
    </if>
    <if test="sentence != null">
      AND  sentence = #{sentence,jdbcType=VARCHAR}
    </if>
    <if test="vocabulary != null">
      AND  vocabulary = #{vocabulary,jdbcType=VARCHAR}
    </if>
    <if test="learningTime != null">
      AND learning_time = #{learningTime,jdbcType=INTEGER}
    </if>
    <if test="rateAll != null">
      AND rate_all = #{rateAll,jdbcType=DECIMAL}
    </if>
    <if test="anew != null">
      AND  anew = #{anew, jdbcType=VARCHAR}
    </if>
    <if test="title != null">
      AND  title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      AND  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      AND  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    ORDER BY create_time DESC
  </select>
  <select id="selectByThreeCountList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="timeDate != null">
      AND  #{timeDate} between create_time and now()
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectBystudyRateList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null">
      AND is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY create_time DESC
  </select>

  <select id="selectBystudyRateOutList" parameterType="java.lang.Integer" resultType="java.util.LinkedHashMap">
    select
    id,rate_all,learning_time,score
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="isValid != null">
      AND is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY create_time
  </select>

  <select id="selectByPcdiOPRateList" parameterType="java.lang.Integer" resultType="java.util.LinkedHashMap">
    select
    id,rate_all,learning_time,count as score
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null">
      AND is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY create_time
  </select>

  <select id="selectByPcdiMustRateList" parameterType="java.lang.Integer" resultType="java.util.LinkedHashMap">
    select
    id,rate_all,learning_time,(adjective_score+noun_score+verb_score) as score
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null">
      AND is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY create_time
  </select>

  <select id="selectByAbcRateList" parameterType="java.lang.Integer" resultType="java.util.LinkedHashMap">
    select
    id,rate_all,learning_time,score
    from xyd_answer_record
    where 1 = 1
    <if test="childId != null">
      AND user_id = #{childId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="isValid != null">
      AND is_valid = #{isValid,jdbcType=VARCHAR}
    </if>
    and type in
    <foreach collection="types" item="item" index="idx" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY create_time
  </select>

  <select id="selectByParamCount" parameterType="com.dkd.common.query.GenericQueryParam" resultType="Integer">
    SELECT COUNT(1) FROM xyd_answer_record xar, xyd_parents xp, xyd_child xc
    WHERE xar.parents_id = xp.id and xar.user_id = xc.id
    <if test="type != null">
      AND xar.type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="score != null">
      AND  score = #{score,jdbcType=DECIMAL}
    </if>
    <if test="valid != null">
      AND  xar.is_valid = #{valid,jdbcType=CHAR}
    </if>
    <if test="states != null">
      AND  xar.states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      AND  xc.name LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
      AND  xc.sex = #{sex,jdbcType=CHAR}
    </if>
    <if test="birthdate != null">
      AND  xc.birthdate = #{birthdate,jdbcType=TIMESTAMP}
    </if>
    <if test="phone != null">
      AND  xp.phone_number = #{phone,jdbcType=CHAR}
    </if>
  </select>

  <select id="selectExtendsByParamList" parameterType="com.dkd.common.query.GenericQueryParam" resultMap="BaseResultMap1">
    SELECT xar.*, xp.phone_number,xc.name,xc.sex, xc.birthdate FROM xyd_answer_record xar, xyd_parents xp, xyd_child xc
    WHERE xar.parents_id = xp.id and xar.user_id = xc.id
    <if test="type != null">
      AND xar.type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="score != null">
      AND  score = #{score,jdbcType=DECIMAL}
    </if>
    <if test="valid != null">
      AND  xar.is_valid = #{valid,jdbcType=CHAR}
    </if>
    <if test="states != null">
      AND  xar.states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      AND  xc.name LIKE #{name,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
      AND  xc.sex = #{sex,jdbcType=CHAR}
    </if>
    <if test="birthdate != null">
      AND  xc.birthdate = #{birthdate,jdbcType=TIMESTAMP}
    </if>
    <if test="phone != null">
      AND  xp.phone_number = #{phone,jdbcType=CHAR}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="selectTypeCount"  resultType="Integer">
    SELECT  COUNT(distinct parents_id)
    FROM xyd_answer_record
    WHERE 1 = 1
    <if test="type != null">
      AND type = #{type,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByTypeList" parameterType="com.dkd.model.XydAnswerRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_answer_record
    where 1 = 1
    <if test="userId != null">
      AND user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="parentsId != null">
      AND parents_id = #{parentsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND  states = #{states,jdbcType=VARCHAR}
    </if>
    and type in ("1", "2") AND is_valid ="1"
    ORDER BY create_time DESC
  </select>
</mapper>