<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydManageRoleMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydManageRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, remark, role, status, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_manage_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_manage_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydManageRole">
    insert into xyd_manage_role (id, role_name, remark, 
      role, status, is_deleted, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.xfkj.model.XydManageRole">
    insert into xyd_manage_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydManageRole">
    update xyd_manage_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydManageRole">
    update xyd_manage_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserRoleList" resultMap="BaseResultMap" parameterType="com.xfkj.model.XydManageRole">
    select
    emr.*
    from
    xyd_manage_role AS emr, xyd_user_role AS eur
    <where> eur.role_id = emr.id
      <if test="userId != null">
        AND eur.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        AND   eur.status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="isDeleted != null">
        AND  eur.is_deleted = #{isDeleted,jdbcType=INTEGER}
      </if>
      <if test="roleId != null">
        AND  eur.role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND   eur.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND  eur.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="selectByRoleList" resultMap="BaseResultMap" parameterType="com.xfkj.model.XydManageRole">
    select
    <include refid="Base_Column_List"/>
    from
    xyd_manage_role
    <where> 1=1
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="roleName != null">
        AND  role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND  remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="role != null">
        AND  role = #{role,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND   status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="isDeleted != null">
        AND  is_deleted = #{isDeleted,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        AND   create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND  update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="selectByParamCount" parameterType="com.xfkj.common.query.GenericQueryParam" resultType="Integer">
    select
    count(id)
    from xyd_manage_role
    <where> 1=1
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="rolename != null">
        AND  role_name = #{rolename,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND  remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="role != null">
        AND  role = #{role,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND   status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="isdeleted != null">
        AND  is_deleted = #{isdeleted,jdbcType=INTEGER}
      </if>
      <if test="createtime != null">
        AND   create_time = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="updatetime != null">
        AND  update_time = #{updatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="selectByParamList" parameterType="com.xfkj.common.query.GenericQueryParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    xyd_manage_role
    <where> 1=1
      <if test="id != null">
        AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="rolename != null">
        AND  role_name LIKE #{rolename,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND  remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="role != null">
        AND  role = #{role,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND   status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="isdeleted != null">
        AND  is_deleted = #{isdeleted,jdbcType=INTEGER}
      </if>
      <if test="createtime != null">
        AND   create_time = #{createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="updatetime != null">
        AND  update_time = #{updatetime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>