<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydManageAccessMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydManageAccess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="access_name" jdbcType="VARCHAR" property="accessName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent_access" jdbcType="VARCHAR" property="parentAccess" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="access" jdbcType="VARCHAR" property="access" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, access_name, remark, sort, parent_access, parent_id, access, status, is_deleted, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_manage_access
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_manage_access
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydManageAccess">
    insert into xyd_manage_access (id, access_name, remark, 
      sort, parent_access, parent_id, 
      access, status, is_deleted, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{accessName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{parentAccess,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{access,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xfkj.model.XydManageAccess">
    insert into xyd_manage_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accessName != null">
        access_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="parentAccess != null">
        parent_access,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="access != null">
        access,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accessName != null">
        #{accessName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentAccess != null">
        #{parentAccess,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        #{access,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydManageAccess">
    update xyd_manage_access
    <set>
      <if test="accessName != null">
        access_name = #{accessName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentAccess != null">
        parent_access = #{parentAccess,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        access = #{access,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydManageAccess">
    update xyd_manage_access
    set access_name = #{accessName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parent_access = #{parentAccess,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      access = #{access,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByEntityList" parameterType="com.xfkj.model.XydManageAccess" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_manage_access
    where 1 = 1
    <if test="id != null">
      AND id = #{id,jdbcType=INTEGER}
    </if>
    <if test="accessName != null">
      AND access_name = #{accessName,jdbcType=VARCHAR}
    </if>
    <if test="remark != null">
      AND remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="access != null">
      AND  access = #{access,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      AND  status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="isDeleted != null">
      AND  is_deleted = #{isDeleted,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      AND create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      AND update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="sort != null">
      AND sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="parentId != null">
      AND parent_id = #{parentId,jdbcType=INTEGER}
    </if>
    <if test="parentAccess != null">
      AND parent_access = #{parentAccess,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByRoleAccessList" parameterType="com.xfkj.model.XydManageAccess" resultMap="BaseResultMap">
    select
    ema.*
    from xyd_manage_access as ema, xyd_access_role as ear
    where ear.access_id = ema.id
    <if test="id != null">
      AND ear.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="roleId != null">
      AND ear.role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="status != null">
      AND  ear.status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="isDeleted != null">
      AND  ear.is_deleted = #{isDeleted,jdbcType=INTEGER}
    </if>
    <if test="status != null">
      AND  ema.status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="isDeleted != null">
      AND  ema.is_deleted = #{isDeleted,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      AND ear.create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime != null">
      AND ema.create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>


  <select id="selectByUserAccessList"  resultMap="BaseResultMap">
    select
    ema.*
    from xyd_manage_access as ema, xyd_access_role as ear
    where ear.access_id = ema.id
    AND  ear.status = "0" AND  ear.is_deleted = 0 AND  ema.status = "0" AND  ema.is_deleted = 0
    AND ear.role_id in
    <foreach collection="roleIds" item="item" index="idx" open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
    GROUP BY ema.id
  </select>
</mapper>