<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydNounSenseMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydNounSense">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="card_adjective_image" jdbcType="VARCHAR" property="cardAdjectiveImage" />
    <result column="card_adjective_char" jdbcType="VARCHAR" property="cardAdjectiveChar" />
    <result column="card_adjective_record" jdbcType="VARCHAR" property="cardAdjectiveRecord" />
    <result column="frist_assist_time" jdbcType="INTEGER" property="fristAssistTime" />
    <result column="card_noun_image" jdbcType="VARCHAR" property="cardNounImage" />
    <result column="card_noun_char" jdbcType="VARCHAR" property="cardNounChar" />
    <result column="card_noun_record" jdbcType="VARCHAR" property="cardNounRecord" />
    <result column="second_assist_time" jdbcType="INTEGER" property="secondAssistTime" />
    <result column="group_image" jdbcType="VARCHAR" property="groupImage" />
    <result column="group_char" jdbcType="VARCHAR" property="groupChar" />
    <result column="group_record" jdbcType="VARCHAR" property="groupRecord" />
    <result column="disturb_type" jdbcType="VARCHAR" property="disturbType" />
    <result column="idio_type" jdbcType="VARCHAR" property="idioType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="states" jdbcType="CHAR" property="states" />
  </resultMap>
  <sql id="Base_Column_List">
    id, card_adjective_image, card_adjective_char, card_adjective_record, frist_assist_time, 
    card_noun_image, card_noun_char, card_noun_record, second_assist_time, group_image, 
    group_char, group_record, disturb_type, idio_type, create_time, update_time, states
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_noun_sense
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByType"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_noun_sense
    where id != #{id} and disturb_type = #{disturbType,jdbcType=VARCHAR}
    AND card_adjective_char != #{adjectiveChar,jdbcType=VARCHAR}
    AND card_noun_char != #{noneChar,jdbcType=VARCHAR}
    limit 1
  </select>
  <select id="selectAllRand" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_noun_sense
    where states = "1"
    ORDER BY rand() limit 10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_noun_sense
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydNounSense">
    insert into xyd_noun_sense (id, card_adjective_image, card_adjective_char, 
      card_adjective_record, frist_assist_time, card_noun_image, 
      card_noun_char, card_noun_record, second_assist_time, 
      group_image, group_char, group_record, 
      disturb_type, idio_type, create_time, 
      update_time, states)
    values (#{id,jdbcType=INTEGER}, #{cardAdjectiveImage,jdbcType=VARCHAR}, #{cardAdjectiveChar,jdbcType=VARCHAR}, 
      #{cardAdjectiveRecord,jdbcType=VARCHAR}, #{fristAssistTime,jdbcType=INTEGER}, #{cardNounImage,jdbcType=VARCHAR}, 
      #{cardNounChar,jdbcType=VARCHAR}, #{cardNounRecord,jdbcType=VARCHAR}, #{secondAssistTime,jdbcType=INTEGER}, 
      #{groupImage,jdbcType=VARCHAR}, #{groupChar,jdbcType=VARCHAR}, #{groupRecord,jdbcType=VARCHAR}, 
      #{disturbType,jdbcType=VARCHAR}, #{idioType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{states,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xfkj.model.XydNounSense">
    insert into xyd_noun_sense
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardAdjectiveImage != null">
        card_adjective_image,
      </if>
      <if test="cardAdjectiveChar != null">
        card_adjective_char,
      </if>
      <if test="cardAdjectiveRecord != null">
        card_adjective_record,
      </if>
      <if test="fristAssistTime != null">
        frist_assist_time,
      </if>
      <if test="cardNounImage != null">
        card_noun_image,
      </if>
      <if test="cardNounChar != null">
        card_noun_char,
      </if>
      <if test="cardNounRecord != null">
        card_noun_record,
      </if>
      <if test="secondAssistTime != null">
        second_assist_time,
      </if>
      <if test="groupImage != null">
        group_image,
      </if>
      <if test="groupChar != null">
        group_char,
      </if>
      <if test="groupRecord != null">
        group_record,
      </if>
      <if test="disturbType != null">
        disturb_type,
      </if>
      <if test="idioType != null">
        idio_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="states != null">
        states,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardAdjectiveImage != null">
        #{cardAdjectiveImage,jdbcType=VARCHAR},
      </if>
      <if test="cardAdjectiveChar != null">
        #{cardAdjectiveChar,jdbcType=VARCHAR},
      </if>
      <if test="cardAdjectiveRecord != null">
        #{cardAdjectiveRecord,jdbcType=VARCHAR},
      </if>
      <if test="fristAssistTime != null">
        #{fristAssistTime,jdbcType=INTEGER},
      </if>
      <if test="cardNounImage != null">
        #{cardNounImage,jdbcType=VARCHAR},
      </if>
      <if test="cardNounChar != null">
        #{cardNounChar,jdbcType=VARCHAR},
      </if>
      <if test="cardNounRecord != null">
        #{cardNounRecord,jdbcType=VARCHAR},
      </if>
      <if test="secondAssistTime != null">
        #{secondAssistTime,jdbcType=INTEGER},
      </if>
      <if test="groupImage != null">
        #{groupImage,jdbcType=VARCHAR},
      </if>
      <if test="groupChar != null">
        #{groupChar,jdbcType=VARCHAR},
      </if>
      <if test="groupRecord != null">
        #{groupRecord,jdbcType=VARCHAR},
      </if>
      <if test="disturbType != null">
        #{disturbType,jdbcType=VARCHAR},
      </if>
      <if test="idioType != null">
        #{idioType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="states != null">
        #{states,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydNounSense">
    update xyd_noun_sense
    <set>
      <if test="cardAdjectiveImage != null">
        card_adjective_image = #{cardAdjectiveImage,jdbcType=VARCHAR},
      </if>
      <if test="cardAdjectiveChar != null">
        card_adjective_char = #{cardAdjectiveChar,jdbcType=VARCHAR},
      </if>
      <if test="cardAdjectiveRecord != null">
        card_adjective_record = #{cardAdjectiveRecord,jdbcType=VARCHAR},
      </if>
      <if test="fristAssistTime != null">
        frist_assist_time = #{fristAssistTime,jdbcType=INTEGER},
      </if>
      <if test="cardNounImage != null">
        card_noun_image = #{cardNounImage,jdbcType=VARCHAR},
      </if>
      <if test="cardNounChar != null">
        card_noun_char = #{cardNounChar,jdbcType=VARCHAR},
      </if>
      <if test="cardNounRecord != null">
        card_noun_record = #{cardNounRecord,jdbcType=VARCHAR},
      </if>
      <if test="secondAssistTime != null">
        second_assist_time = #{secondAssistTime,jdbcType=INTEGER},
      </if>
      <if test="groupImage != null">
        group_image = #{groupImage,jdbcType=VARCHAR},
      </if>
      <if test="groupChar != null">
        group_char = #{groupChar,jdbcType=VARCHAR},
      </if>
      <if test="groupRecord != null">
        group_record = #{groupRecord,jdbcType=VARCHAR},
      </if>
      <if test="disturbType != null">
        disturb_type = #{disturbType,jdbcType=VARCHAR},
      </if>
      <if test="idioType != null">
        idio_type = #{idioType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydNounSense">
    update xyd_noun_sense
    set card_adjective_image = #{cardAdjectiveImage,jdbcType=VARCHAR},
      card_adjective_char = #{cardAdjectiveChar,jdbcType=VARCHAR},
      card_adjective_record = #{cardAdjectiveRecord,jdbcType=VARCHAR},
      frist_assist_time = #{fristAssistTime,jdbcType=INTEGER},
      card_noun_image = #{cardNounImage,jdbcType=VARCHAR},
      card_noun_char = #{cardNounChar,jdbcType=VARCHAR},
      card_noun_record = #{cardNounRecord,jdbcType=VARCHAR},
      second_assist_time = #{secondAssistTime,jdbcType=INTEGER},
      group_image = #{groupImage,jdbcType=VARCHAR},
      group_char = #{groupChar,jdbcType=VARCHAR},
      group_record = #{groupRecord,jdbcType=VARCHAR},
      disturb_type = #{disturbType,jdbcType=VARCHAR},
      idio_type = #{idioType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      states = #{states,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByParamCount" parameterType="com.xfkj.common.query.GenericQueryParam" resultType="Integer">
    select
    count(id)
    from xyd_noun_sense
    <where> 1=1
      <if test="groupchar != null">
        and group_char = #{groupchar}
      </if>
    </where>
  </select>

  <select id="selectByParamList" parameterType="com.xfkj.common.query.GenericQueryParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    xyd_noun_sense
    <where> 1=1
      <if test="groupchar != null">
        and group_char = #{groupchar}
      </if>
      <if test="disturbtype != null">
        and disturb_type = #{disturbtype}
      </if>
    </where>
  </select>
</mapper>