<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydSystemSuggestMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydSystemSuggest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="network" jdbcType="VARCHAR" property="network" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="qqun" jdbcType="VARCHAR" property="qqun" />
    <result column="versions_id" jdbcType="INTEGER" property="versionsId" />
    <result column="states" jdbcType="VARCHAR" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, network, weixin, mail, qqun, versions_id, states, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_system_suggest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_system_suggest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydSystemSuggest">
    insert into xyd_system_suggest (id, phone, network, 
      weixin, mail, qqun, versions_id,
      states, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{network,jdbcType=VARCHAR}, 
      #{weixin,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{qqun,jdbcType=VARCHAR}, #{versionsId,jdbcType=INTEGER},
      #{states,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xfkj.model.XydSystemSuggest">
    insert into xyd_system_suggest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="network != null">
        network,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="qqun != null">
        qqun,
      </if>
      <if test="versionsId != null">
        versions_id,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="network != null">
        #{network,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="qqun != null">
        #{qqun,jdbcType=VARCHAR},
      </if>
      <if test="versionsId != null">
        #{versionsId,jdbcType=INTEGER},
      </if>
      <if test="states != null">
        #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydSystemSuggest">
    update xyd_system_suggest
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="network != null">
        network = #{network,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="qqun != null">
        qqun = #{qqun,jdbcType=VARCHAR},
      </if>
      <if test="versionsId != null">
        versions_id = #{versionsId,jdbcType=INTEGER},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydSystemSuggest">
    update xyd_system_suggest
    set phone = #{phone,jdbcType=VARCHAR},
      network = #{network,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      qqun = #{qqun,jdbcType=VARCHAR},
      versions_id = #{versionsId,jdbcType=INTEGER},
      states = #{states,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByParamCount" parameterType="com.xfkj.common.query.GenericQueryParam" resultType="Integer">
    SELECT COUNT(1)
    from xyd_system_suggest
    where 1 = 1
    <if test="phone != null">
     AND phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="network != null">
      AND network = #{network,jdbcType=VARCHAR}
    </if>
    <if test="weixin != null">
      AND weixin = #{weixin,jdbcType=VARCHAR}
    </if>
    <if test="mail != null">
      AND mail = #{mail,jdbcType=VARCHAR}
    </if>
    <if test="qqun != null">
      AND  qqun = #{qqun,jdbcType=VARCHAR}
    </if>
    <if test="versionsid != null">
      AND versions_id = #{versionsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByParamList" parameterType="com.xfkj.common.query.GenericQueryParam" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from xyd_system_suggest
    where  1 = 1
    <if test="phone != null">
      AND phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="network != null">
      AND network = #{network,jdbcType=VARCHAR}
    </if>
    <if test="weixin != null">
      AND weixin = #{weixin,jdbcType=VARCHAR}
    </if>
    <if test="mail != null">
      AND mail = #{mail,jdbcType=VARCHAR}
    </if>
    <if test="qqun != null">
      AND  qqun = #{qqun,jdbcType=VARCHAR}
    </if>
    <if test="versionsid != null">
      AND versions_id = #{versionsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="selectList" parameterType="com.xfkj.model.XydSystemSuggest" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from xyd_system_suggest
    where  1 = 1
    <if test="phone != null">
      AND phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="network != null">
      AND network = #{network,jdbcType=VARCHAR}
    </if>
    <if test="weixin != null">
      AND weixin = #{weixin,jdbcType=VARCHAR}
    </if>
    <if test="mail != null">
      AND mail = #{mail,jdbcType=VARCHAR}
    </if>
    <if test="qqun != null">
      AND  qqun = #{qqun,jdbcType=VARCHAR}
    </if>
    <if test="versionsId != null">
      AND versions_id = #{versionsId,jdbcType=INTEGER}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC
  </select>
</mapper>