<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydSystemVersionsMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydSystemVersions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="download" jdbcType="VARCHAR" property="download" />
    <result column="states" jdbcType="VARCHAR" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, type, title, download, states, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_system_versions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_system_versions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydSystemVersions">
    insert into xyd_system_versions (id, number, type, 
      title, download, states, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{download,jdbcType=VARCHAR}, #{states,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xfkj.model.XydSystemVersions">
    insert into xyd_system_versions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="download != null">
        download,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        #{download,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydSystemVersions">
    update xyd_system_versions
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="download != null">
        download = #{download,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydSystemVersions">
    update xyd_system_versions
    set number = #{number,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      download = #{download,jdbcType=VARCHAR},
      states = #{states,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" parameterType="com.xfkj.model.XydSystemVersions" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_system_versions
    where 1 = 1
    <if test="number != null">
      AND number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      AND  type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="title != null">
      AND title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="download != null">
      AND  download = #{download,jdbcType=VARCHAR}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      AND create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      AND update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>


  <select id="selectByParamCount" parameterType="com.xfkj.common.query.GenericQueryParam" resultType="Integer">
    SELECT COUNT(1)
     from xyd_system_versions
    where 1 = 1
    <if test="number != null">
      AND number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      AND  type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="download != null">
      AND  download = #{download,jdbcType=VARCHAR}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectByParamList" parameterType="com.xfkj.common.query.GenericQueryParam" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from xyd_system_versions
    where  1 = 1
    <if test="number != null">
      AND number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      AND  type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="download != null">
      AND  download = #{download,jdbcType=VARCHAR}
    </if>
    <if test="states != null">
      AND states = #{states,jdbcType=VARCHAR}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="selectByVersion" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_system_versions
    where number = #{number,jdbcType=VARCHAR} AND states = "1"
  </select>
</mapper>