<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfkj.mapper.XydTrainingHelptimeMapper">
  <resultMap id="BaseResultMap" type="com.xfkj.model.XydTrainingHelptime">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_type" jdbcType="INTEGER" property="topicType" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="help_time" jdbcType="INTEGER" property="helpTime" />
    <result column="states" jdbcType="CHAR" property="states" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topic_type, sort, help_time, states, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xyd_training_helptime
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByEntity" parameterType="com.xfkj.model.XydTrainingHelptime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_training_helptime
    where 1=1
    <if test="states!=null">
      and states=#{states}
    </if>
    <if test="topicType!=null">
      and topic_type=#{topicType}
    </if>
    limit 1
  </select>

  <select id="selectByEntityList" parameterType="com.xfkj.model.XydTrainingHelptime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xyd_training_helptime
    where 1=1
    <if test="states!=null">
      and states=#{states}
    </if>
    <if test="topicType!=null">
      and topic_type=#{topicType}
    </if>
    <if test="sort != null">
      and sort=#{sort}
    </if>
    order by sort asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_training_helptime
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xfkj.model.XydTrainingHelptime">
    insert into xyd_training_helptime (id, topic_type, sort, 
      help_time, states, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{topicType,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{helpTime,jdbcType=INTEGER}, #{states,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xfkj.model.XydTrainingHelptime">
    insert into xyd_training_helptime
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicType != null">
        topic_type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="helpTime != null">
        help_time,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicType != null">
        #{topicType,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="helpTime != null">
        #{helpTime,jdbcType=INTEGER},
      </if>
      <if test="states != null">
        #{states,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydTrainingHelptime">
    update xyd_training_helptime
    <set>
      <if test="topicType != null">
        topic_type = #{topicType,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="helpTime != null">
        help_time = #{helpTime,jdbcType=INTEGER},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydTrainingHelptime">
    update xyd_training_helptime
    set topic_type = #{topicType,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      help_time = #{helpTime,jdbcType=INTEGER},
      states = #{states,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>