<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfkj.mapper.XydToyMapper">
    <resultMap id="BaseResultMap" type="com.xfkj.model.XydToy">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="module" property="module" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, number, status,module
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from xyd_toy
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByEntity" resultMap="BaseResultMap" parameterType="com.xfkj.model.XydToy">
        select
        <include refid="Base_Column_List"/>
        from xyd_toy
        where 1 = 1
        <if test="userId != null">
          and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="status">
            and status=#{status}
        </if>
        <if test="number">
            and number=#{number}
        </if>
        <if test="module">
            and module=#{module}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xyd_toy
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.xfkj.model.XydToy">
    insert into xyd_toy (id, user_id, number, 
      status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR})
  </insert>

    <insert id="insertList">
        insert into xyd_toy ( user_id, number,status,module)
        values
        <foreach collection ="toy" item="toys" separator =",">
            ( #{userId,jdbcType=INTEGER}, #{toys.number,jdbcType=INTEGER},
            #{status,jdbcType=CHAR},#{module,jdbcType=CHAR})
        </foreach >
    </insert>

    <insert id="insertSelective" parameterType="com.xfkj.model.XydToy">
        insert into xyd_toy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xfkj.model.XydToy">
        update xyd_toy
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByUserId" parameterType="com.xfkj.model.XydToy">
        update xyd_toy
        <set>
            <if test="status != ''">
                status = #{status,jdbcType=CHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER} and module=#{module}
    </update>
    <update id="updateUseToy" parameterType="com.xfkj.model.XydToy">
        update xyd_toy
            set status = #{status,jdbcType=CHAR}
        where user_id = #{userId,jdbcType=INTEGER} and number=#{number} and module=#{module}
    </update>

    <update id="emptyUpdateUseToy" parameterType="com.xfkj.model.XydToy">
        update xyd_toy
        set status = #{status,jdbcType=CHAR}
        where user_id = #{userId,jdbcType=INTEGER} and module=#{module}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.xfkj.model.XydToy">
    update xyd_toy
    set user_id = #{userId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>